<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/product-detail.css" />
  </head>
  <body>
    <header class="main_h sticky">
      <div class="row">
        <a class="logo" href="index.html">ENIGMA</a>

        <div class="mobile-toggle">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <nav>
          <ul>
            <li><a href="#">Store</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </nav>
      </div>
      <!-- / row -->
    </header>

    <div class="product-main">
      <div class="wrapper">
        <div class="card">
          <div class="image-placeholder">
            <img src="artfolio.png" alt="" />
          </div>
        </div>
        <div class="section2">
          <div class="left-section">
            <div class="product-detail">
              <div class="title">
                Artfolio
              </div>
              <div class="other-detail">
                <div class="price"><h3>$20</h3></div>
                <div class="author"><h3>ENIGMA STUDIO</h3></div>
                <div class="last-update">
                    <h3>last update : <br>26-06-2023</h3>
                    </div>
              </div>
            </div>
            <div class="description">
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dolorem, totam. Libero voluptatum ullam unde. Eaque, consequatur
                fugit illo blanditiis nam rem ipsum accusamus explicabo,
                voluptate, sed placeat at. At, nam? Sit, culpa voluptatibus
                voluptas eius eligendi, veritatis quod cupiditate aliquam
                deleniti veniam sapiente dolores! Quis quaerat totam error
                voluptas ducimus? Facilis officia maiores voluptate hic eum
                voluptatibus, at magni id. Sint eveniet atque aperiam deleniti
                quod pariatur totam exercitationem rem dolore placeat maiores
                delectus molestiae distinctio quia sequi sunt accusamus labore,
                odio, suscipit possimus quis, doloremque cum. In, magni a?
                Quisquam cupiditate saepe nihil in rem, aut velit adipisci,
                animi obcaecati eligendi repellat eaque tenetur, dignissimos
                repellendus ad voluptas consequuntur accusamus. Debitis aperiam
                laudantium id? Ipsum ducimus reiciendis veniam. Tenetur.
              </p>
            </div>
          </div>
          <div class="right-section">
            <div class="sidebar">
                <div class="first-section">

        
                    <button class="raise" id="cta">Add To Cart</button>
                </div>
                <div class="second-section">
                  <div class="sort">

                    <section class="check-menu checklist">
                      <ul>
                        <li>
                          <h3>Vector Graphic</h3>
                        </li>
                        <li>
                          <h3>Graphic Template</h3>
                        </li>
                        <li>
                          <h3>Template</h3>
                        </li>
                        
                      </ul>
                    </section>
                  </div class="sort">
                
                </div>
              </div>
            <div class="cta"></div>
            <div class="product-category"></div>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/js/catalog.js"></script>
  </body>
</html>
