:root {
    --color1: #2502df;
    --color2: #a4a1f8;
    --color3: #fdf490;
    --color4: #ffffff;
    --color5: #1b1b1f;
}

body {
    background-color: var(--color5);
}

p{
    color: white;
    text-align: center;
}
/* Landing */

.page-transition .div {
    position: fixed;
    background-color: var(--color3);
    height: 100%;
    bottom: 100%;
    width: 25%;
    z-index: 9998;
}

.page-transition .div:nth-child(1) {
    left: 0px;
}

.page-transition .div:nth-child(2) {
    left: 25%;
}

.page-transition .div:nth-child(3) {
    left: 50%;
}

.page-transition .div:nth-child(4) {
    left: 75%;
}

.preload {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.preload li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 2px solid var(--color2);
    border-radius: 50%;
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
}
.main .main-title {
    height: 50vh;
    color: aqua;
}

.main .menu-bar {
    display: flex;
}

/*box child*/
.main .menu-bar .box {
    background: var(--color4);
    height: 492px;
    width: 796px;
    border-radius: 71px;
    background-color: var(--color1);
}

.main .menu-bar .box1 {
    width: 616px;
    height: 246px;

    background-color: var(--color2);
    border-radius: 71px;
}

.main .menu-bar .child-left {
    display: flex;
}

.main .menu-bar .child-left .box2:nth-child(1) {
    width: 308px;
    height: 246px;
    background-color: var(--color3);
    border-radius: 71px;
}

.main .menu-bar .child-left .box2:nth-child(2) {
    width: 308px;
    height: 246px;

    background: var(--color4);
    border-radius: 71px;
}

/* Login */
html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: var(--color4);
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color4);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid var(--color4);
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: var(--color4);
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: var(--color2);
    font-size: 12px;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--color2);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}

.login-box a:hover {
    background: #a4a1f8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--color2), 0 0 25px var(--color2),
        0 0 50px var(--color2), 0 0 100px var(--color2);
}

.login-box .option {
    display: flex;
    justify-content: space-between;
}
